<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pactera.tams.module.notice.mapper.NoticeMapper">
	<select id="getNoticeList" parameterType="com.pactera.tams.module.notice.model.Notice" resultType="map">
		select 
			n.id,
			n.title,
			n.content,
			n.status,
			n.sort,
			n.create_date,
			n.create_by,
			(
				select u.name from sys_user u where u.id=n.create_by
			) as create_name
		from sys_notice n
		where 1=1
		<if test="create_date != null and create_date !=''">
		  and substring(n.create_date,1,10) = '${create_date}'
		</if>
		order by n.create_date desc
	</select>
	<select id="getNoticeListCount" parameterType="com.pactera.tams.module.notice.model.Notice" resultType="Integer">
		select 
			count(0)
		from sys_notice n
		where 1=1
		<if test="create_date != null and create_date !=''">
		  and substring(n.create_date,1,10) = '${create_date}'
		</if>
		order by n.create_date desc
	</select>
</mapper>
